.article {
    --bg-color: #edebeb;
    --txt-color: #202020;

    @media (prefers-color-scheme: dark) {
        --bg-color: #202020;
        --txt-color: #edebeb;
    }

    &__title {
        background: var(--bg-color);
        color: var(--txt-color);
        text-align: center;
    }

    &__content {
        color: var(--txt-color);
    }
}
