.footer {
    --txt-color: #070707;

    padding: 16px;
    color: var(--txt-color);

    @media (prefers-color-scheme: dark) {
        color: #edebeb;
    }

    a {
        @media (prefers-color-scheme: dark) {
            color: #edebeb;
        }
    }
}
