.top {
    --bg-color: #ffcc00;
    --txt-color: #070707;

    @media (prefers-color-scheme: dark) {
        --bg-color: #070707;
        --txt-color: #ffcc00;
    }

    &__title {
        background: var(--bg-color);
        color: var(--txt-color);

        padding: 10px;
        &::before {
            content: "📝";
        }
    }
}
