html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #fefefe;
}

header, section, footer {
    padding: 16px;
}

.listOfArticles {
    background: #1460AA;
    color: #ffea00;
}

.top {
    background: rgb(255, 204, 0);
}

.contentHeader {
    background: #cccccc;
}

.navigation {
    background: blue;
}

.navigation__link {
    color: white;
}