html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*  */

body {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 60%, rgba(253,187,45,1) 100%);
}

.article__title {
    background: #cccccc;
    text-align: center;
}

.footer {
    padding: 16px;
}

.header {
    position: sticky;
    top: 0;
}

.navigation {
    background: blue;
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
}

.navigation__link {
    color: white;
}

.section__modules {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    padding: 1em;
}

.section__title {
    background: #1460AA;
    color: #ffea00;
    margin: 10px auto;
    text-align: center;
    max-width: 70vw;
}

.top {
    background: rgb(255, 204, 0);
}

.top__title {
    padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .section__modules {
        grid-template-columns: 1fr;
    }
}
