html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*  */

body {
    background: #fefefe;
}

.section__title {
    /* padding: 16px; */
    background: #1460AA;
    color: #ffea00;
    width: 70vw;
    margin: 10px auto;
    text-align: center;
}

.top {
    background: rgb(255, 204, 0);
}

.top__title {
    padding: 10px;
}

.article__title {
    background: #cccccc;
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}

.article__content {
    width: 55vw;
    margin: 0 auto;
}

.navigation {
    background: blue;
    padding: 16px;
}

.navigation__link {
    color: white;
}

.footer {
    padding: 16px;
}
