@import "../../node_modules/normalize.css/normalize.css";
@import "./components/article.scss";
@import "./components/footer.scss";
@import "./components/hamburger.scss";
@import "./components/header.scss";
@import "./components/navigation.scss";
@import "./components/section.scss";
@import "./components/top.scss";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*  */

body {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 60%, rgba(253,187,45,1) 100%);
}
